body {
  background-color: #fff;
  font-family: arial,sans-serif;
  text-align: center;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li, a {
  font-size: 14px;
  display: inline;
  float: right;
  padding: 5px;
}
a {
  position: relative;
}
.topper{
  display: block;
  position: absolute;
  top:15px;
  right:2%;
  float:right;
}
.jumbo {
  position: fixed;
  height: 233px;
  margin-top: 89px;
  width: 100%;
}
#logo-area{
  padding-top: 109px;
  display: block;
}
#logo{
  background-size: 272px 92px;
  height: 92px;
  width:272px;
}
#search-form{
  min-width: 980px;
  width: 100%;
}
input[type="search"]{
  border: #D9D9D9 1px solid;
  width: 30%;
  height: 40px;
}
input[type="search"]:hover{
  border: #BFBFBF 1px solid;
}
#search-buttons{
  height:59px;
}
input[type="button"]{
  font-family: 'Lucida Grande', 'Helvetica Neue', sans-serif;
  font-size: 13px;
  font-weight: bold;
  margin: 0 15px 15px 0;
  background-color: #F4F4F4;
  color: #757575;
  padding: 15px;
  border: #F4F4F4 1px solid;
  border-radius: 1px;
}
input[type="button"]:hover{
  border: #CECECE 1px solid;
  color: black;
  box-shadow: 1px black;
}
